@{
    //サイト情報を定義
    ViewData["OWNER_SITE"] = Startup.SiteOwner;
    ViewData["TITLE_SITE"] = string.Format("{0}'s site", Startup.SiteOwner);
}

<!DOCTYPE html>
<html lang="ja-jp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewData["TITLE_PAGE"] - @ViewData["TITLE_SITE"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/masonry/dist/masonry.pkgd.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/masonry/dist/masonry.pkgd.min.js"></script>
    </environment>
    <link rel="Stylesheet" type="text/css" href="~/css/site.css" />
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-title">
                <div id="header" class="nav">
                    <h1 class="nav-title">
                        <a asp-controller="Home" asp-action="Index">@ViewData["TITLE_SITE"]</a>
                    </h1>
                    @await Component.InvokeAsync("PagePath", "NavMenu")
                </div>
            </div>
            <div class="col-md-12 col-title">
                <ul id="breadcrumbList" class="breadcrumbList">
                    @await Component.InvokeAsync("PagePath", "Breadcrumb")
                </ul>
            </div>
        </div>
        @RenderBody()
        <div id="footer" class="row">
            <div class="col-md-12">
                <p id="copyRightDisplay">Copyright &copy; 2010 <a asp-controller="Home" asp-action="About">@ViewData["OWNER_SITE"]</a> All Rights Reserve</p>
            </div>
        </div>
    </div>
</body>
</html>
