@model DetailVM
@{
    ViewData["TITLE_PAGE"] = Model.Current.Title;
}

<div class="row">
    <div class="col-md-12 col-section">
        <div id="contentsGuide" class="section">
            <h2 class="title">@ViewData["TITLE_PAGE"]</h2>
            <p class="text">@Model.Current.Summary</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6 col-section">@Html.Raw(Model.Content)</div>
    <div class="col-md-8 col-sm-6 col-horizontal">
    @foreach(var card in Model.Descriptions)
    {
        <div class="col-section">
            <div class="section section-text">
                <h3 class="title">@card.Title</h3>
                <p class='text multiLine'>@Html.Raw(card.Content)</p>
            </div>
        </div>
    }
    </div>
</div>
<div class="row">
    <div id="articleNav" class="col-md-12 col-section">
        @if (Model.HasPreviousItem)
        {
            <a asp-action="Detail"
               asp-route-article="@Model.CurrentArticle"
               asp-route-id="@Model.PrevIndex">前へ</a>
        }
        else
        { <span>前へ</span> }
        @if (Model.HasNextItem)
        {
            <a asp-action="Detail"
               asp-route-article="@Model.CurrentArticle"
               asp-route-id="@Model.NextIndex">次へ</a>
        }
        else
        { <span>次へ</span> }
        <a asp-action="List" asp-route-article="@Model.CurrentArticle">一覧へ戻る</a>
    </div>
</div>