@model ListVM<GroupVM<Page>>
@{
    ViewData["TITLE_PAGE"] = Model.Current.Title;
}

<div class="row">
    <div class="col-md-12 col-section">
        <div id="contentsGuide" class="section">
            <h2 class="title">@ViewData["TITLE_PAGE"]</h2>
            <p class="text">@Model.Current.Summary</p>
        </div>
    </div>
    <div class="col-md-12 col-section">
        <div class="section section-text">
            <h3 class="title">説明</h3>
            <p class="text multiLine">@Model.Current.Description</p>
        </div>
    </div>
</div>
@foreach(var group in Model.Items)
{
    <div class="row row-groupBox">
        <h3 class="col-md-12 col-title title">@group.Title</h3>
        @foreach (var childPage in group.Contents.OrderBy(_ => _.Order))
        {
            <div class="col-md-4 col-sm-6 col-section">
                <a asp-controller="@childPage.Controller"
                   asp-action="@childPage.Action" asp-all-route-data="childPage.GetParameters()" class='section galleryItem'>
                    <img src='@Url.Content(childPage.ThumbnailUrl)' alt='thumbnail' class='thumb' />
                    <span class='title'>@childPage.Title</span>
                </a>
            </div>
        }
    </div>
}